.mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
    flex-direction: column;
    gap: 20px;
}

.gradientText {
    font-size: 7rem;
    font-weight: bold;
    background: linear-gradient(75deg, #2a2425, #dcf3ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0; 
}